In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/titanic/train_and_test2.csv')

In [3]:
print(df.columns)

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [4]:
young_passengers = df[df['Age'] < 35]
print(young_passengers)

      Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1  22.0   7.2500    0      1     0       0       0       0
2               3  26.0   7.9250    1      0     0       0       0       0
5               6  28.0   8.4583    0      0     0       0       0       0
7               8   2.0  21.0750    0      3     0       0       0       0
8               9  27.0  11.1333    1      0     0       0       0       0
...           ...   ...      ...  ...    ...   ...     ...     ...     ...
1301         1302  28.0   7.7500    1      0     0       0       0       0
1303         1304  28.0   7.7750    1      0     0       0       0       0
1304         1305  28.0   8.0500    0      0     0       0       0       0
1307         1308  28.0   8.0500    0      0     0       0       0       0
1308         1309  28.0  22.3583    0      1     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0          0  ...        0        0        0       3        0        0
2          0  ...        0        0        0       3        0        0
5          0  ...        0        0        0       3        0        0
7          0  ...        0        0        0       3        0        0
8          0  ...        0        0        0       3        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1301       0  ...        0        0        0       3        0        0
1303       0  ...        0        0        0       3        0        0
1304       0  ...        0        0        0       3        0        0
1307       0  ...        0        0        0       3        0        0
1308       0  ...        0        0        0       3        0        0

      Embarked  zero.17  zero.18  2urvived
0          2.0        0        0         0
2          2.0        0        0         1
5          1.0        0        0         0
7          2.0        0        0         0
8          2.0        0        0         1
...        ...      ...      ...       ...
1301       1.0        0        0         0
1303       2.0        0        0         0
1304       2.0        0        0         0
1307       2.0        0        0         0
1308       0.0        0        0         0

[964 rows x 28 columns]

In [5]:
subset = df.iloc[10:26, 3:6]
print(subset)

    Sex  sibsp  zero
10    1      1     0
11    1      0     0
12    0      0     0
13    0      1     0
14    1      0     0
15    1      0     0
16    0      4     0
17    0      0     0
18    1      1     0
19    1      0     0
20    0      0     0
21    0      0     0
22    1      0     0
23    0      0     0
24    1      3     0
25    1      1     0

In [6]:
statistics = df[['Age', 'Fare']].agg(['min', 'max', 'mean', 'median'])
print(statistics)

              Age        Fare
min      0.170000    0.000000
max     80.000000  512.329200
mean    29.503186   33.281086
median  28.000000   14.454200

In [7]:
mean_fare_by_group = df.groupby(['Sex', 'Pclass'])['Fare'].mean()
print(mean_fare_by_group)

Sex  Pclass
0    1          69.888385
     2          19.904946
     3          12.419597
1    1         109.412385
     2          23.234827
     3          15.324250
Name: Fare, dtype: float64