In [1]:
import pandas as pd

In [2]:
# Read the CSV file into a data frame
df_car_specs = pd.read_csv("/kaggle/input/phntask1/car_specifications.csv")

# Read the Excel file into a data frame
df_car_loan = pd.read_excel("/kaggle/input/phntask1/car_loan_details.xlsx")

# Display the data frames
print("Car Specifications:")
print(df_car_specs.head())

print("\nCar Loan Details:")
print(df_car_loan.head())

Car Specifications:
    Company Name Model Name Fuel Type Body Style Car Length
0         Toyota      Yaris    Petrol  Hatchback    3945 mm
1          Honda      Civic     Sedan     Petrol    4650 mm
2            Kia     Seltos    Diesel        SUV    4315 mm
3          Tesla    Model S        EV      Sedan    4970 mm
4  Maruti Suzuki     Baleno    Petrol  Hatchback    3995 mm

Car Loan Details:
    Company Name Model Name  On road pricing  Loan amount  Monthly EMI  \
0         Toyota      Yaris          1000000       750000        15000
1          Honda      Civic          1800000      1350000        25000
2            Kia     Seltos          1600000      1200000        22500
3          Tesla    Model S          8000000      6000000       112500
4  Maruti Suzuki     Baleno           800000       600000        12000

   Interest Rate  Monthly Principal  Monthly Interest
0         0.0850              12500              2500
1         0.0900              21250              3750
2         0.0875              18750              3750
3         0.0750             100000             12500
4         0.0800              10000              2000

In [3]:
# Merge the two data frames based on the primary key
df_merged = pd.merge(df_car_specs, df_car_loan, on=["Company Name", "Model Name"])

# Display the merged data frame
print("Merged Data Frame:")
print(df_merged.head())

Merged Data Frame:
    Company Name Model Name Fuel Type Body Style Car Length  On road pricing  \
0         Toyota      Yaris    Petrol  Hatchback    3945 mm          1000000
1          Honda      Civic     Sedan     Petrol    4650 mm          1800000
2            Kia     Seltos    Diesel        SUV    4315 mm          1600000
3          Tesla    Model S        EV      Sedan    4970 mm          8000000
4  Maruti Suzuki     Baleno    Petrol  Hatchback    3995 mm           800000

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal  \
0       750000        15000         0.0850              12500
1      1350000        25000         0.0900              21250
2      1200000        22500         0.0875              18750
3      6000000       112500         0.0750             100000
4       600000        12000         0.0800              10000

   Monthly Interest
0              2500
1              3750
2              3750
3             12500
4              2000

In [4]:
# Fill the NA values with the mean value of each column
df_merged = df_merged.fillna(df_merged.mean())

# Display the filled data frame
print("Filled Data Frame:")
print(df_merged.head())

Filled Data Frame:
    Company Name Model Name Fuel Type Body Style Car Length  On road pricing  \
0         Toyota      Yaris    Petrol  Hatchback    3945 mm          1000000
1          Honda      Civic     Sedan     Petrol    4650 mm          1800000
2            Kia     Seltos    Diesel        SUV    4315 mm          1600000
3          Tesla    Model S        EV      Sedan    4970 mm          8000000
4  Maruti Suzuki     Baleno    Petrol  Hatchback    3995 mm           800000

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal  \
0       750000        15000         0.0850              12500
1      1350000        25000         0.0900              21250
2      1200000        22500         0.0875              18750
3      6000000       112500         0.0750             100000
4       600000        12000         0.0800              10000

   Monthly Interest
0              2500
1              3750
2              3750
3             12500
4              2000

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [5]:
# Define a function to add the GST value to a price
def add_gst(price):
    return price * 1.18

# Apply the function to the "On road pricing" column
df_merged["On road pricing"] = df_merged["On road pricing"].apply(add_gst)

# Display the updated data frame
print("Updated Data Frame:")
print(df_merged.head())

Updated Data Frame:
    Company Name Model Name Fuel Type Body Style Car Length  On road pricing  \
0         Toyota      Yaris    Petrol  Hatchback    3945 mm        1180000.0
1          Honda      Civic     Sedan     Petrol    4650 mm        2124000.0
2            Kia     Seltos    Diesel        SUV    4315 mm        1888000.0
3          Tesla    Model S        EV      Sedan    4970 mm        9440000.0
4  Maruti Suzuki     Baleno    Petrol  Hatchback    3995 mm         944000.0

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal  \
0       750000        15000         0.0850              12500
1      1350000        25000         0.0900              21250
2      1200000        22500         0.0875              18750
3      6000000       112500         0.0750             100000
4       600000        12000         0.0800              10000

   Monthly Interest
0              2500
1              3750
2              3750
3             12500
4              2000